{% extends "layout.html" %}
{% block title %}Result!{% endblock %}

{% block content %}
<h2>{{ _('Your personal details') }}</h2>
<div class="card">
    <div class="card-body">
        {{data|safe}}
    </div>
</div>

{% if is_prod and sharethis_script_src %}
<div class="border border-light p-3 mb-4">
    <div class="text-center">
        <div class="sharethis-inline-share-buttons" data-url="{{ app_url }}"></div>
    </div>
</div>
{% endif %}

<div class="border border-light p-3 mb-4">
    <div class="text-center">
        <a href="/" class="btn btn-primary">{{ _('Back to home page') }}</a>
    </div>
</div>
{% endblock %}
