{% extends "layout.html" %}
{% block title %}Error detected!{% endblock %}

{% block content %}
<div class="alert alert-danger">
    {%if error == 'UPLOAD_EXTENSIONS_ERROR' %}
    <p>Error: Image extension is not valid, extension provided: {{file_ext}} <a href="/" class="btn btn-danger">Retry now.</a></p>
    {% endif %}
    {%if error == 'UPLOAD_IMAGE_WITH_NO_NAME' %}
    <p>ErrorGeneral error, please retry. <a href="/" class="btn btn-danger">Retry now.</a></p>
    {% endif %}
</div>
{% endblock %}
