{% extends "layout.html" %}
{% block title %}Decode Now!{% endblock %}

{% block content %}

<p class="lead text-muted">
    {{ _('What information does your Covid-19 Green Pass QR code contain? Please upload the file here to find out.') }}
</p>
<ul class="small">
    <li>{{ _('No data will be stored') }}</li>
    <li>
        {% trans url=github_project %}Don't you trust it? Explore the <a href="{{url}}">open source code</a>  and create your own instance!{% endtrans %}
    </li>
</ul>
<form id="greenform" method="POST" action="/qrdata" enctype="multipart/form-data" >
    <div class="input-group">
        <input type="file" name="image" accept="image/*" class="form-control" id="pickFileInput"
               aria-describedby="pickFile" aria-label="Browse">
        <button class="btn btn-dark me-2" type="submit" id="pickFile">{{ _('Get data') }}</button>
    </div>

</form>

{% include 'sharing.html' %}

{% endblock %}

{% block script %}
<script>
    var i18n = {
        select_before: '{{ _("Please select the green pass qrcode first.") }}'
    };
</script>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
