<!doctype html>
<html class="h-100" lang="en">
<head>
    {% block head %}
    <title>{{app_name}} - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if is_prod %}
    <meta property="og:title" content="Green Pass COVID-19 QRCode Decoder"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/ogimage.png') }}"/>
    {% if app_url %}
    <meta property="og:url" content="{{ app_url }}"/>
    {%else %}
    <meta property="og:url" content="{{ url_for(request.endpoint) }}"/>
    {% endif %}
    {% endif %}

    {% block script %}
    {% endblock %}

    {% if is_prod and ga_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-{{ga_id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-{{ga_id}}');
    </script>
    {% endif %}

    {% if is_prod and sharethis_script_src %}
    <script type="text/javascript" src="{{sharethis_script_src}}" async="async"></script>
    {% endif %}

    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">
    <div class="container">
        <section class="py-5 container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light  text-center">{{ app_name }}</h1>
                    <div id="content">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        {% block footer %}
        <p class="text-center">&copy; Copyright 2021 by <a href="https://www.dueclic.com">Andrea Debernardi</a>.</p>
        <p class="text-center">{{ _('This project is open source') }} ❤️| <a
                href="{{ github_project }}">Github Repo</a> <a href="https://github.com/debba"> <img alt="GitHub followers"
                                                                 src="https://img.shields.io/github/followers/debba?style=social">
        </a>
        </p>
        {% endblock %}
    </div>
</footer>

</body>
</html>